.content {
    display: inline-flex;
    width: 100%;
    height: 170vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
.back_button{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    left:80px;
    width:60px;    
    height: 60px;
}
.detail_container{
    display: flex;
    border:1px solid black;
    height:140vh;
    width:60%;
    justify-content: center;
    align-items: center;
    background: var(--2, linear-gradient(134deg, rgba(53, 204, 170, 0.30) 0%, rgba(151, 121, 255, 0.30) 99.59%));
    border-radius: 8px;
    border:1px transparent;}
.detail_container_background{
    display:grid;
    grid-template-rows: repeat(15,1fr);
    grid-template-columns: repeat(3,1fr);
    height:130vh;
    width:90%;
    gap:20px;
}
.detail_title{
    
    grid-row: 1/3;
    grid-column: 1/4;
    background-color: white;
    border-radius: 8px;
    }
.detail_empty{
    grid-row: 3/4;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.detail_profile_and_icon{
    border:1px solid black;
    
    grid-column: 1/2;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    border:1px solid black;
    width:150px;
    height: 50px;
    background-color: #35CCAA;
    border-radius: 50px;
    
    
}
.tag_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius: 5rem;
    width:50px;
    height:50px;
    background-color: white;
}
.tag_nickname{
    position: relative;
    right:-10px;
    color:white;
}
.detail_apply{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35CCAA;
    color:white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:1px transparent;    
    height: 50px;
    border-radius: 8px;
    grid-column: 3/4;
    width:100%;
    font-size: 20px;
}
.detail_teamplay_info{
    grid-row: 4/6;
    grid-column: 1/4;
    background-color: white;
    border-radius: 8px;    
}
.detail_topic_info{
    grid-row: 6/8;
    grid-column: 1/4;
    background-color: white;
    border-radius: 8px;}
.detail_teamone_preference{
    grid-row: 8/10;
    grid-column: 1/4;
    background-color: white;
    border-radius: 8px;}
.detail_QNA{
    grid-row: 10/16;
    grid-column: 1/4;
    background-color: white;
    border-radius: 8px;}
