.content {
    display: inline-flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    
}
.back_button{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    left:80px;
    width:60px;    
    height: 60px;
}

.maketeam2_create{
    display:flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:1px transparent;
    color:white;
    width: 16%;
    height: 50px;
    font-size: 15px;
}
.maketeam2_container{

    width:60%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--2, linear-gradient(134deg, rgba(53, 204, 170, 0.30) 0%, rgba(151, 121, 255, 0.30) 99.59%));
    border-radius: 8px;

}
.maketeam2_container_background{
    width:90%;
    margin:10px;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(5,1fr);
    border-radius: 8px;
    border:1px transparent;
    gap:10px;
}
.maketeam2_title{
    grid-row:1/2;
    grid-column: 1/6;
    background-color: white;
    border-radius: 8px;
    height:100px;
    margin-top: 20px;

}
input{
    width:100%;
    height: 100%;
    border:1px transparent;

}
textarea{
    width:100%;
    height: 100%;
    border:1px transparent;
}
.maketeam2_teamplay_info{
    grid-row:2/3;
    grid-column: 1/6;
    background-color: white;
    border-radius: 8px;
    height:100px;
    
}
.maketeam2_topic_info{
    background-color: white;
    border-radius: 8px;
    grid-row:3/4;
    grid-column: 1/6;
    height:100px;
    
}
.maketeam2_team_preference{
    background-color: white;
    border-radius: 8px;
    grid-row:4/5;
    grid-column: 1/6;
    height:100px;
    
}
.maketeam2_kakaourl{
    background-color: white;
    border-radius: 8px;
    grid-row:5/6;
    grid-column: 1/6;
    height:100px;
}
.maketeam2_createbuttonbox{
    grid-row:6/7;
    grid-column: 3/4;
    display:grid;
    grid-template-rows: repeat(3,1fr);
}
.maketeam2_createbutton{
    grid-row: 2/3;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #35CCAA;
    color:white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:1px transparent;
    height: 60px;
    font-size:20px;
    width:180px;
}
