.content {
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:40px;
    
}
.mypage_mypage_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:1px transparent;
    color:white;
    width:15%;
    height:60px;
}
.container{
    width:80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--2, linear-gradient(134deg, rgba(53, 204, 170, 0.30) 0%, rgba(151, 121, 255, 0.30) 99.59%));
    border-radius: 8px;
    border:1px transparent;
    
}
.container_background{
    width:95%;
    height:95%;
    display:flex;
    flex-direction: column;
    gap:20px;
    margin: 15px;
}

/* 픽스 들어가는거 */
.fix{
    width:100%;
    height: 400px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}



.mypage_myimage{
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypage_mynickname{
    grid-row: 3/4;
    grid-column: 1/2;
    display:flex;
    justify-content: center;
    align-items: center;
}

.mypage_mynickname_word{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:180px;
    height:40px;
    border:1px transparent;
    border-radius: 8px;
}



.mypage_myposition{
    grid-row: 1/2;
    grid-column: 2/4;
    display:flex;
    justify-content: center;
    align-items: center;
}
.mypage_myposition_word{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:400px;
    height:60px;
    border:1px transparent;
    border-radius: 8px;
}







.mypage_mytest{
    grid-row: 2/3;
    grid-column: 2/4;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;

}
.mypage_mytest_word{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:400px;
    height:60px;
    border:1px transparent;
    border-radius: 8px;

}
.mypage_hashtag_box{
    display:flex;
    justify-content: center;
    grid-row: 3/4;
    grid-column: 2/5;
    flex-direction: row;
    margin:10px;
    gap:20px;

}

.mypage_hashtag1{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px transparent;
    border-radius: 20px;
    width:120px;
    height: 40px;
    background-color: #48cace;
    
}
.mypage_hashtag_box a{
    text-decoration: none;
    color:white;
    border-radius: 15px;
    font-size: 20px;
}

.fas{
    font-size: 80px;
    background: -webkit-linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mypage_like_dislike{
    grid-row: 1/3;
    grid-column: 4/5;
    display: flex;
    flex-direction: row;

}

.mypage_like{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:50%;


}
.mypage_dislike{
    flex-direction: column;

    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;

}









/* 픽스 끝나는곳 */




























.apply{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:1px transparent;
    color:white;
    width:15%;
    height:60px;
}
.team_apply_list{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:1px transparent;
    color:white;
    width:15%;
    height:60px;
}
.mypage_myimage img{
    border-radius: 80%;
}

/* 슬라이드 1 */
.slide1_content1{
    width:100%;
    height: 350px;
    display:grid;
    grid-template-rows: repeat(5,1fr);
    border-radius: 8px;
    background-color: white;
    
}
.slide1_content1_top{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    color:white;
    border-radius: 8px;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
}
.slide1_content1_bottom{
    gap:40px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slide1_content1_bottom_firstline{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    padding-top: 10px;

}
.slide1_content1_firstline_left{
    
}
.slide1_content1_firstline_right{

}




.slide1_content1_bottom_secondline{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 25px;
    
}
.slide1_content1_secondline_left{
    color:white;
}


/* 노란비니 태그 */

.slide1_content1_tag_profile_and_nickname{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:150px;
    height: 50px;
    background-color: #35CCAA;
    border-radius: 50px;
    color:white;
}
.slide1_content1_tag_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    width:50px;
    height:50px;
    background-color: white;
    

    
}
.slide1_content1_tag_nickname{
    position: relative;
    right:-10px;
    color:white;
}
.slide1_content1_tag_profile img{
    width:100%;
    height: 100%;
}

.btn {
    color: white;
}


.slide1_content1_secondline_right{
    display: flex;
    align-items: center;
    gap:20px;
    margin-right: 28px;
    
    
}
.slide1_content1_secondline_right button{
    background-color: #35CCAA;
    width:100px;
    height: 30px;
    border-radius: 8px;
    border:1px transparent;

}




/* 슬라이드 1 끝나는곳 */




/* 슬라이드 2 */


.slide2{
    gap:20px;
}
.slide2_content1{
    width:100%;
    height: 280px;
    display:grid;
    grid-template-rows: repeat(5,1fr);
    border-radius: 8px;
    background-color: white;
}
.slide2_content1_top1{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    color:white;
    border-radius: 8px;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
}

.slide2_content1_bottom1{
    gap:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slide2_content1_bottom_firstline{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    padding-top: 10px;

}
.slide2_content1_firstline_left{
    
}
.slide2_content1_firstline_right{

}




.slide2_content1_bottom_secondline{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 100px;
    border:1px solid black;

    
}
.slide2_content1_secondline_left{
    
}


/* 노란비니 태그 */

.slide2_content1_tag_profile_and_nickname{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:150px;
    height: 50px;
    background-color: #35CCAA;
    border-radius: 50px;
}
.slide2_content1_tag_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    width:50px;
    height:50px;

    background-color: white;
}
.slide2_content1_tag_nickname{
    position: relative;
    right:-10px;
    color:white;
}
.slide2_content1_tag_profile img{
    border-radius: 80%;
}
.slide1_content1_tag_profile img{
    border-radius: 80%;
}



.slide2_content1_secondline_right button{
    background-color: #35CCAA;
    border:1px transparent;
    border-radius: 5px;
    color:white;
    width:400px;
    height: 60px;
    border:1px solid black;
    
}




/* 슬라이드 2 끝나는곳 */

