.content {
    display: inline-flex;
    width: 100%;
    height: 140vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    
}
.back_button{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left:80px;
    width:60px;    
    height: 60px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px transparent;
    border-radius: 8px;
    width:70%;
    height:120vh;

    background: var(--2, linear-gradient(134deg, rgba(53, 204, 170, 0.30) 0%, rgba(151, 121, 255, 0.30) 99.59%));
}
.container_background{

    width:95%;
    height:95%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap:10px;

}
.profile_profile{
    display:flex;
    justify-content: center;
    align-items: center;
    width:18%;
    height:8vh;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:1px transparent;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
    color:white;
    font-size: 20px;
    margin-top: -600px;
}
.profile_top{
    grid-column: 1/6;
    grid-row:1/3;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    margin:10px;
    gap:10px;
}
.profile_image{

    grid-column: 1/2;
    grid-row:1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    border-radius: 70%;
}

.profile_nickname{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px transparent;
    background-color: white;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row:3/4;
    height:40px;

}
.profile_hashtag_box{
    grid-column: 2/5;
    grid-row:3/4;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
}
.profile_hashtag1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px transparent;
    width:100px;
    height: 30px;
    background-color: #48CACE;
    border-radius: 8px;
    color:white;
}
.profile_hashtag2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px transparent;
    width:100px;
    height: 30px;
    background-color: #48CACE;
    border-radius: 8px;
    color:white;

}
.profile_status{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/5;
    grid-row: 1/2;
    font-size:20px;
    background-color: white;
    border:1px transparent;
    border-radius: 8px;
    height: 80px;
    

}
.profile_test{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/5;
    grid-row: 2/3;
    font-size:20px;
    background-color: white;
    border:1px transparent;
    border-radius: 8px;
    height: 80px;

}
.profile_middle{
    grid-column: 1/2;
    grid-row:3/4;
    border:1px solid black;
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:50px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:1px transparent;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
    color:white;
}

.profile_like_dislike{
    grid-row: 4/6;
    grid-column: 1/6;
    display:flex;
    flex-direction: row;
    
}
.profile_like_box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.profile_dislike_box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.profile_like_dislike .fas{
    background: -webkit-linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 115px;
}