.content {
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    
}
.fas{
    font-size: 40px;
    color: #35CCAA;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px transparent;
    border-radius: 8px;
    width:70%;
    bottom: 20px;
    background: var(--2, linear-gradient(134deg, rgba(53, 204, 170, 0.30) 0%, rgba(151, 121, 255, 0.30) 99.59%));
}
.container_background{
    
    width:95%;
    height:95%;
    display:flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    gap:10px;
    margin:15px;
    
}
.profile_profile{
    display:flex;
    justify-content: center;
    align-items: center;
    width:18%;
    height:8vh;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:1px transparent;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
    color:white;
    font-size: 20px;
    gap:20px;
    
}
.halfbox1{
    border:1px transparent;
    border-radius: 8px;
    width:700px;
    height: 400px;
    background-color: white;
    

}
.halfbox_top1{
    color:white;
    display:flex;
    justify-content: left;
    align-items: center;
    border:1px transparent;
    height: 50px;
    border-radius: 8px;
    background: linear-gradient(109.12deg, #35CCAA -10.9%, #9779FF 98.02%);
}

.halfbox_bottom1{
    width:100%;
    
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: space-evenly;

}
.title{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    padding-top: 15px;
}

/* 팀원 1 평가 */

.teammate1{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:80px;
    
    gap:40px;

}
.teammate1_tag_profile_and_nickname{
    float: left;

}
.teammate1_like_dislike{
    display:flex;
    float:right;
    gap:40px;
    margin-left: 100px;
}
.teammate1_dislike{
    margin-right: 40px;;
}
/* 노란비니 태그 */

.teammate1_tag_profile_and_nickname{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:150px;
    height: 50px;
    background-color: #35CCAA;
    border-radius: 50px;

}
.teammate1_tag_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    width:50px;
    height:50px;
    
    
}
.teammate1_tag_nickname{
    position: relative;
    right:-10px;
    color:white;
}


.teammate1_like_dislike i{
    font-size: 40px;
    color:#35CCAA;
    border-radius: 5rem;
    border:1px transparent;

}




.submit_button_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:120px;
    height: 40px;
    background-color: #35CCAA;
    border-radius: 8px;

}

.submit_button_box a{
    text-decoration: none;
    color:white;
}














/*제출 버튼*/



.halfbox1_submit_box button{

    width:160px;
    height: 40px;
    background-color:#35CCAA;
    border:1px transparent;
    border-radius: 8px;
    color: white;
}
.halfbox1_submit_box{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 5/6;
    grid-column: 1/3;
}

