.footer {
  /*하단 회색 박스*/
  width: 100%;
  height: 250px;
  background: rgba(217, 217, 217, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
.item-title {
  /*동국대학교 멋쟁이 사자처럼 심바톤 6조*/
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}
.item-content {
  /*서울시 중구 필동로 1길 30 동국대학교 학생회관 2층*/
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}

/*여기서부터 navbar*/
/*끼리페이지 드롭박스1*/
.navbar {
  display: flex;
  padding-left: 5%;
  justify-content: space-between;
}
.button0 {
  display: flex;
  width: 50%;
  align-items: center;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  margin-left: 15%;
}
.dropdown-button1 {
  border: none;
  border-radius: 8px;
  background: var(--box-color-3, #35ccaa);
  height: 59px;
  flex-shrink: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: 24px;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  border-radius: 20px;
  background: var(--2, linear-gradient(180deg, #35ccaa 0%, #48cace 100%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 150px;
  flex-shrink: 0;
}
.dropdown-content1 a {
  border-radius: 20px;
  background: #fff;
  color: black;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  text-align: center;
}
.dropdown1:hover .dropdown-content1 {
  display: block;
}
.dropdown-content1 a:hover {
  border: 2px solid #9779ff;
  align-items: center;
  text-align: center;
}
.dropdown1:hover .dropdown-content1 {
  display: block;
}
.dropdown1:hover .dropdown-button1 {
}
/*이미지삽입 드롭박스*/
.dropdown2 {
  position: relative;
  display: inline-block;
  margin-left: -5%;
}
.dropdown2 img {
  position: relative;
  display: inline-block;
  margin-left: -5%;
}
.dropdown-button2 {
  border: none;
  border-radius: 8px;
  background: var(--box-color-3, #35ccaa);
  height: 59px;
  flex-shrink: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: 24px;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  border-radius: 20px;
  background: var(--2, linear-gradient(180deg, #35ccaa 0%, #48cace 100%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 150px;
  flex-shrink: 0;
}
.dropdown-content2 a {
  border-radius: 20px;
  background: #fff;
  color: black;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  text-align: center;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropdown-content2 a:hover {
  border: 2px solid #9779ff;
  align-items: center;
  text-align: center;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropdown2:hover .dropdown-button2 {
}

.navbar .button0 img {
  /*네비바 끼리 로고*/
  display: flex;
  width: 55px;
  height: 55px;
  left: 92px;
  top: 16px;
}

.navbar .button0 h1 {
  /* 네비바 끼리 문구 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  background: linear-gradient(109.12deg, #35ccaa -10.9%, #9779ff 98.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-left: 1.5%;
}
