body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #2e363e;
    width: 100vw;
}
.navbar {
display: flex;
padding-left: 5%;
justify-content: space-between;
}
.button0 {
display: flex;
width: 50%;
align-items: center;
}
.navbar .button0 img {
/*네비바 끼리 로고*/
display: flex;
width: 55px;
height: 55px;
left: 92px;
top: 16px;
}

.navbar .button0 h1 {
/* 네비바 끼리 문구 */
font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
background: linear-gradient(109.12deg, #35ccaa -10.9%, #9779ff 98.02%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
margin-left: 1.5%;
}
.button1 {
width: 20%;
display: flex;
justify-content: space-between;
align-items: center;
}
.navbar .button1 a {
/*끼리페이지 버튼*/
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #35ccaa;
border-radius: 8px;
font-family: "Noto Sans KR";
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
padding: 0% 10%;
/* or 100% */
display: flex;
align-items: center;
text-align: center;
color: #ffffff;
text-decoration: none;
height: 60px;
}
.navbar .button1 img {
/*개인 프로필 사진*/
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border: 1px solid linear-gradient(109.12deg, #35ccaa -10.9%, #9779ff 98.02%);
display: flex;
width: 55px;
height: 55px;
}

/*여기서부터 수정하시오*/
.toplogo {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
}
.toplogo img {
height: 150px;
}
.toplogo h1 {
font-size: 48px;
font-family: Inter;
font-weight: 600;
margin-left: 1%;
color: linear-gradient(109.12deg, #35ccaa -10.9%, #9779ff 98.02%);
/*이거 왜 색이 안변하지....쩝쩝....*/
}
.signup {
/*회원가입 박스입니도*/
display: flex;
width: 100%;
align-items: center;
justify-content: center;
text-align: center;
}
.signup h1 {
border-radius: 8px;
background: var(
    --box-color-2,
    linear-gradient(141deg, #35ccaa 0.74%, #9779ff 100%)
);
color: #fff;
font-size: 32px;
font-family: Noto Sans KR;
font-weight: 600;
height: 42px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
display: flex;
color: #ffffff;
padding: 0.3%;
}
.id {
/*아이디 박스*/
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
}
.id h1 {
border-radius: 8px;
background: var(
    --box-color-2,
    linear-gradient(141deg, #35ccaa 0.74%, #9779ff 100%)
);
color: #fff;
font-size: 32px;
font-family: Noto Sans KR;
font-weight: 600;
height: 42px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
display: flex;
color: #ffffff;
padding: 0.3%;
}
.id h2 {
color: #000;
text-align: center;
font-size: 24px;
font-family: Noto Sans KR;
font-weight: 500;
letter-spacing: -0.36px;
margin-left: 1%;
}
.inputid {
/*인증번호 입력*/
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
}
.inputid input[type="text"] {
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
height: 45px;
flex-shrink: 0;
border: 1px solid #35ccaa80;
margin-left: 12%;
margin-bottom: 1%;
}
.inputid input[type="text"]:focus {
outline: none;
border: 1px solid #35ccaa80;
box-shadow: 0 0 5px rgba(53, 204, 170, 0.5);
}
.inputid a {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;

border-radius: 8px;
background: #35ccaa;
color: #fff;
text-align: center;
font-size: 24px;
font-family: Noto Sans KR;
font-weight: 700;
line-height: 24px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
display: flex;
color: #ffffff;
padding: 0.3%;
text-decoration: none;
margin-left: 1%;
}
.checknum {
/*인증번호 입력*/
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
}
.checknum input[type="text"] {
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
height: 45px;
flex-shrink: 0;
border: 1px solid #35ccaa80;
margin-left: 12%;
}
.checknum input[type="text"]:focus {
outline: none;
border: 1px solid #35ccaa80;
box-shadow: 0 0 5px rgba(53, 204, 170, 0.5);
}
.checknum a {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;

border-radius: 8px;
background: #35ccaa;
color: #fff;
text-align: center;
font-size: 24px;
font-family: Noto Sans KR;
font-weight: 700;
line-height: 24px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
display: flex;
color: #ffffff;
padding: 0.3%;
text-decoration: none;
margin-left: 1%;
}
.pw {
/*비밀번호 박스*/
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
}
.pw h1 {
border-radius: 8px;
background: var(
    --box-color-2,
    linear-gradient(141deg, #35ccaa 0.74%, #9779ff 100%)
);
color: #fff;
font-size: 32px;
font-family: Noto Sans KR;
font-weight: 600;
height: 42px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
display: flex;
color: #ffffff;
padding: 0.3%;
}
.inputpw {
/*비밀번호 입력*/
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
margin: 1% 0%;
}
.inputpw input[type="text"] {
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
height: 45px;
flex-shrink: 0;
border: 1px solid #35ccaa80;
}
.reinputpw input[type="text"]:focus {
outline: none;
border-color: #35ccaa;
box-shadow: 0 0 5px rgba(53, 204, 170, 0.5);
}
.reinputpw {
/*비밀번호 다시 입력*/
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
}
.reinputpw input[type="text"] {
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
height: 45px;
flex-shrink: 0;
border: 1px solid #35ccaa80;
}
.reinputpw input[type="text"]:focus {
outline: none;
border-color: #35ccaa;
box-shadow: 0 0 5px rgba(53, 204, 170, 0.5);
}

.information {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
}
.information h1 {
/*회원정보 박스*/
border-radius: 8px;
background: var(
    --box-color-2,
    linear-gradient(141deg, #35ccaa 0.74%, #9779ff 100%)
);
color: #fff;
font-size: 32px;
font-family: Noto Sans KR;
font-weight: 600;
height: 42px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
display: flex;
color: #ffffff;
padding: 0.3%;
}

.grade {
/*학년*/
display: flex;
align-items: center;
justify-content: center;
margin: 1% 0%;
}

.grade input[type="text"] {
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
height: 45px;
flex-shrink: 0;
border: 1px solid #35ccaa80;
}

.class {
/*학과*/
display: flex;
align-items: center;
justify-content: center;
margin: 1% 0%;
}

.class input[type="text"] {
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
height: 45px;
flex-shrink: 0;
border: 1px solid #35ccaa80;
}
.class input[type="text"]:focus {
outline: none;
border-color: #35ccaa;
box-shadow: 0 0 5px rgba(53, 204, 170, 0.5);
}
.name {
/*이름*/
display: flex;
align-items: center;
justify-content: center;
margin: 1% 0%;
}

.name input[type="text"] {
/*이름*/
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
height: 45px;
flex-shrink: 0;
border: 1px solid #35ccaa80;
}
.name input[type="text"]:focus {
outline: none;
border-color: #35ccaa;
box-shadow: 0 0 5px rgba(53, 204, 170, 0.5);
border: 1px solid #35ccaa80;
}
.rename {
/*이름*/
display: flex;
align-items: center;
justify-content: center;
margin: 1% 0%;
}
.rename input[type="text"] {
/*이름*/
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
height: 45px;
flex-shrink: 0;
margin-left: 8%;
border: 1px solid #35ccaa80;
}
.rename input[type="text"]:focus {
outline: none;
border-color: #35ccaa;
box-shadow: 0 0 5px rgba(53, 204, 170, 0.5);
}
.rename a {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;

border-radius: 8px;
background: #35ccaa;
color: #fff;
text-align: center;
font-size: 24px;
font-family: Noto Sans KR;
font-weight: 700;
line-height: 24px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
display: flex;
color: #ffffff;
padding: 0.3%;
text-decoration: none;
margin-left: 1%;
}
.check {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
}
.check a {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
border-radius: 8px;
background: #35ccaa;
color: #fff;
text-align: center;
font-size: 24px;
font-family: Noto Sans KR;
font-weight: 700;
line-height: 24px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
display: flex;
color: #ffffff;
padding: 0.3%;
text-decoration: none;
margin-bottom: 2%;
}
.profile {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
}
.profile h1 {
border-radius: 8px;
background: var(
    --box-color-2,
    linear-gradient(141deg, #35ccaa 0.74%, #9779ff 100%)
);
color: #fff;
font-size: 32px;
font-family: Noto Sans KR;
font-weight: 600;
height: 42px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
display: flex;
color: #ffffff;
padding: 0.3%;
}
.image-button {
border: none;
background-color: transparent;
cursor: pointer;
padding: 0;
margin-left: 5%;
}

.image-button img {
width: 100%;
height: 100px;
border-radius: 50%;

/* 추가적인 스타일링을 원하는 경우 여기에 추가합니다. */
}
.tag {
/*이름*/
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 1% 0%;
}

.tag input[type="text"] {
/*이름*/
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
height: 45px;
flex-shrink: 0;
border: 1px solid #35ccaa80;
}
.tag input[type="text"]:focus {
outline: none;
border-color: #35ccaa;
box-shadow: 0 0 5px rgba(53, 204, 170, 0.5);
border: 1px solid #35ccaa80;
}
.tag h1 {
display: flex;
color: #000;
text-align: center;
font-size: 20px;
font-family: Noto Sans KR;
font-weight: 500;
letter-spacing: -0.3px;
}
/*여기부터 돈터치*/
.footer {
/*하단 회색 박스*/
width: 95%;
height: 250px;
background: rgba(217, 217, 217, 0.4);
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 5%;
}
.item-title {
/*동국대학교 멋쟁이 사자처럼 심바톤 6조*/
font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 29px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
}
.item-content {
/*서울시 중구 필동로 1길 30 동국대학교 학생회관 2층*/
font-family: "Montserrat";
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 29px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
}