<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="detail_11.css">
    <script src="https://kit.fontawesome.com/58cae1d5f8.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="back_button"><i class=" fas fa-solid fa-circle-chevron-left fa-3x " style="color: #35ccaa;"></i></div>

    <div class="content">
        <div class="detail_container">
            <div class="detail_container_background">
                <div class="detail_title">
                    &ensp;<strong>팀플제목</strong>
                </div>
                <div class="detail_empty">
                    <div class="detail_profile_and_icon">
                        
                            <div class="tag_profile"><img src="images/ggiri_logo.png" id="tag_ggiri_logo" width="100%" height="100%" /></div>
                            <div class="tag_nickname">노란비니</div>
                        
                    </div>
                    <div class="detail_apply">
                        지원하기
                    </div>
                </div>
                <div class="detail_teamplay_info">
                    &ensp;<strong>팀플정보</strong>
                </div>
                <div class="detail_topic_info">
                    &ensp;<strong>주제설명</strong>
                </div>
                <div class="detail_teamone_preference">
                    &ensp;<strong>원하는 팀원 성향</strong>
                </div>
                <div class="detail_QNA">
                    &ensp;<strong> 댓글 창</strong>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>