<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
    <div class="content">
        <div class="login_box">
            <div class="login_ID">
                <input type="text" id="username" placeholder="아이디">           
            </div>
            <div class="login_PW">
                <input type="password" id="password" placeholder="비밀번호">
            </div>

            <br> <div class="login_login"><a class="login_login_button">로그인</a></div><br> 
            <div class="login_signup"><a class="login_signup_button">회원가입</a></div>
        </div>
    </div>
</body>
</html>