<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/58cae1d5f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="maketeam2.css">
</head>
<body>
    <div class="back_button"><i class=" fas fa-solid fa-circle-chevron-left fa-3x " style="color: #35ccaa;"></i></div>
    <div class="content">
        
        <div class="maketeam2_create">팀플 생성</div>
        <div class="maketeam2_container">
            <div class="maketeam2_container_background">
                <div class="maketeam2_title">&ensp;<strong>팀플 제목</strong></div>
                <div class="maketeam2_teamplay_info">&ensp;<strong>팀플 기본적 정보</strong><br><strong>(교수명,교과명,학수번호)</strong></div>
                <div class="maketeam2_topic_info">&ensp;<strong>팀플 제목</strong></div>
                <div class="maketeam2_team_preference">&ensp;<strong>원하는 팀원 성향</strong></div>
                <div class="maketeam2_kakaourl">&ensp;<strong>카카오톡 오픈채팅방 URL</strong></div>
                <div class="maketeam2_createbuttonbox"><a class="maketeam2_createbutton">생성하기</a></div>
            </div>    
        </div>
    </div>
</body>
</html>