{% load static %}

<div class="navbar">
  <section class="button0">
    <a class="link1" href="{% url 'main:mainpage' %}"><img src="{% static 'images/끼리로고.png' %}" /></a>
    <h1>끼리</h1>
  </section>
  {% if user.is_authenticated %}
    <section class="button1">
      <div class="button1_left">
        <button class="link1" href="#">끼리페이지</button>
        <ul>
          <li><a href="{% url 'main:mainpage' %}"><strong>팀원 지원</strong></a></li>
          <li><a href="{% url 'main:maketeam1' %}"><strong>팀플 생성</strong></a></li>
        </ul>
      </div>
      <div class="button1_right">        
        <button><img src="{% static 'images/끼리로고.png' %}" /></button>
        <ul>
          <li><a href="#"><strong>주녕</strong></a></li>
          <li><a href="{% url 'users:mypage' user.id %}"><strong>마이페이지</strong></a></li>
          <li><a href="{% url 'users:measure' %}"><strong>끼리 평가</strong></a></li>
        </ul>
      </div>
    </section>
  {% endif %}
</div>





<!--
<div class="navbar">
  <section class="button0">
    <a class="link1" href="{% url 'main:mainpage' %}"><img src="{% static 'images/끼리로고.png' %}" /></a>
    <h1>끼리</h1>
  </section>
  {% if user.is_authenticated %}
    <section class="button1">
      <a class="link1" href="#">끼리페이지</a>
      <img src="{% static 'images/끼리로고.png' %}" />
    </section>
  {% endif %}
</div>
-->