{% load static %}

<div class="navbar">
  <section class="button0">
    <a class="link1" href="{% url 'main:mainpage' %}"
      ><img src="{% static 'images/끼리로고.png' %}"
    /></a>
    <h1>끼리</h1>
  </section>
  <!-- 아래는 로그인 이후에 뜨게 해주세용 -->
  {% if user.is_authenticated %}
  <div class="dropdown1">
    <button class="dropdown-button1">끼리페이지</button>
    <div class="dropdown-content1">
      <a href="{% url 'main:mainpage' %}">팀플 지원</a>
      <br>
      <a href="{% url 'main:maketeam1' %}">팀플 생성</a>
    </div>
  </div>
  <div class="dropdown2">
    <button class="dropdown-button2"><img src="{% static 'images/끼리로고.png' %}"/></button>
    </button>
    <div class="dropdown-content2">
      <a href="{% url 'users:profile' user.id %}">{{user.profile.nickname}}</a>
      <a href="{% url 'users:mypage' user.id %}">마이페이지</a>
      <a href="{% url 'users:measure' user.id %}">끼리 평가</a>
      <a href="{% url 'accounts:logout' %}">로그아웃</a>
    </div>
  </div>
  </div>
  {% else %}
  <div class="dropdown2">
    <button class="dropdown-button2"><img src="{% static 'images/끼리로고.png' %}"/></button>
    </button>
    <div class="dropdown-content2">
      <a href="{% url 'accounts:login' %}">로그인</a>
    </div>
  </div>
  {% endif %}
</div>

<!--
<div class="navbar">
  <section class="button0">
    <a class="link1" href="{% url 'main:mainpage' %}"><img src="{% static 'images/끼리로고.png' %}" /></a>
    <h1>끼리</h1>
  </section>
  {% if user.is_authenticated %}
    <section class="button1">
      <a class="link1" href="#">끼리페이지</a>
      <img src="{% static 'images/끼리로고.png' %}" />
    </section>
  {% endif %}
</div>
-->