{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <p>username</p>
    <input type="text" name="username" id="username-input">
    <br> <!--한줄 띄기-->

    <button type="button" id="email-confirm-btn" disabled>인증메일</button>
    <br>

    {% if email_sent %}
        <h3>이메일이 성공적으로 보내졌습니다! {{ verification_code }}</h3>
    {% else %}
        <h3>이메일 보내기 실패</h3>
    {% endif %}
    <br>

    <p>인증번호</p>
    <input type="text" name="verificationcode" id="verification-code-input">
    <br>
    <button type="button" id="verification-code-confirm-btn" disabled>인증번호확인</button>
    <br>

    <p>비밀번호</p>
    <input type="password" name="password">
    <br>

    <p>비밀번호확인</p>
    <input type="password" name="confirm">
    <br>

    <p>학년</p>
    <input type="number" name="grade" min="1" max="4">
    <br>

    <p>학과</p>
    <input type="text" name="department">
    <br>

    <p>이름</p>
    <input type="text" name="name">
    <br>

    <p>별명</p>
    <input type="text" name="nickname">
    <br>

    <input type="submit" value="회원가입" id="signup-btn" disabled>
</form>

<script>
    var usernameInput = document.getElementById('username-input');
    var emailConfirmBtn = document.getElementById('email-confirm-btn');
    var verificationCodeInput = document.getElementById('verification-code-input');
    var verificationCodeConfirmBtn = document.getElementById('verification-code-confirm-btn');
    var signupBtn = document.getElementById('signup-btn');

    emailConfirmBtn.disabled = true;
    verificationCodeConfirmBtn.disabled = true;
    signupBtn.disabled = true;

    window.addEventListener('load', function() {
    var savedUsername = localStorage.getItem('username');
    if (savedUsername) {
        usernameInput.value = savedUsername;
        localStorage.removeItem('username');
    }
});

    usernameInput.addEventListener('input', function() {
        if (usernameInput.value) {
            emailConfirmBtn.disabled = false;
        } else {
            emailConfirmBtn.disabled = true;
        }
    });

    emailConfirmBtn.addEventListener('click', function() {
        var username = usernameInput.value;
        if (username) {
            localStorage.setItem('username', username);
            var emailConfirmUrl = "{% url 'accounts:emailconfirm' username='__USERNAME__' %}".replace('__USERNAME__', username);
            window.location.href = emailConfirmUrl;
        }
    });

    verificationCodeInput.addEventListener('input', function() {
        if (verificationCodeInput.value) {
            verificationCodeConfirmBtn.disabled = false;
        } else {
            verificationCodeConfirmBtn.disabled = true;
        }
    });

    verificationCodeConfirmBtn.addEventListener('click', function() {
        var enteredVerificationCode = verificationCodeInput.value;
        var receivedVerificationCode = "{{ verification_code }}";
    
        if (enteredVerificationCode === receivedVerificationCode) {
            signupBtn.disabled = false;
        } else {
            signupBtn.disabled = true;
        }
    });
</script>

{% endblock %}