{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <p>username</p>
    <input type="text" name="username">
    <br> <!--한줄 띄기-->

    <p>비밀번호</p>
    <input type="password" name="password">
    <br>

    <p>비밀번호확인</p>
    <input type="password" name="confirm">
    <br>

    <p>별명</p>
    <input type="text" name="nickname">
    <br>

    <p>학과</p>
    <input type="text" name="department">
    <br>

    <p>취미</p>
    <input type="text" name="hobby">
    <br>

    <input type="submit" value="회원가입">
</form>

{% endblock %}