{% load static %}

<div class="contents">
    {% for post in posts %}
      <div>{{post.writer}} : {{post.title}} </div>
      {% if post.image %}
        <p><img src="{{post.image.url}}" alt="사진"  height="100"></p>
      {% else %}
        <p><img src="{% static 'images/동국대기본.jpg' %}" alt="사진"  height="100"></p>  
      {% endif %}
        {{post.body}}
        <a href="{% url 'main:detail' post.id %}">지원하기</a>
    {% empty %}
      <p class="empty">{{ empty_message }}</p>
    {% endfor %}
</div>