<!--끼리평가페이지-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/58cae1d5f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_24.css' %}">
</head>
<body>
    <div class="back_button">
        <div class="back_button"><i class=" fas fa-solid fa-circle-chevron-left fa-3x " style="color: #35ccaa;"></i></div>
    </div>
    <div class="content">

        <div class="profile_profile">끼리평가페이지</div>
        <div class="container">
            <div class="container_background">
                {% for my_project in my_projects %}
                    <div class="halfbox1">
                        <div class="halfbox_top1">&ensp;{{ my_project.project.post.title }}</div>
                        <div class="halfbox_bottom1">
                            {% if my_project.project.post.writer.id != user.id %}
                                {{ my_project.project.post.writer.profile.nickname }}
                            {% endif %}
                            {% for member in my_project.member %}
                                {% if member.user != user %}
                                    {{ member.user.profile.nickname }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                {% for my_post_project in my_post_projects %}
                    <div class="halfbox1">
                        <div class="halfbox_top1">&ensp;{{ my_post_project.project.title }}</div>
                        <div class="halfbox_bottom1">
                            {% if my_post_project.project.writer.id != user.id %}
                                {{ my_post_project.project.writer.profile.nickname }}
                                {% if my_post_project.project.writer.profile in my_post_project.project.writer.profile.likers.all %}
                                    <a href="{% url 'users:like' user.id %}"><button type="button" class="btn btn-outline-info">좋아요 취소</button></a>
                                {% else %}
                                    <a href="{% url 'users:like' user.id %}"><button type="button" class="btn btn-outline-info">좋아요</button></a>
                                {% endif %}
                                {{ my_post_project.project.writer.profile.likers.all }}
                                <br>
                            {% endif %}
                            {% for member in my_post_project.member %}
                                {% if user != member.user %}
                                    {{ member.user.profile.nickname }}
                                    {% if user.profile in member.user.profile.writer.profile.likers.all %}
                                        <a href="{% url 'users:like' member.user.id %}"><button type="button" class="btn btn-outline-info">좋아요 취소</button></a>
                                    {% else %}
                                        <a href="{% url 'users:like' member.user.id %}"><button type="button" class="btn btn-outline-info">좋아요</button></a>
                                    {% endif %}
                                {% endif %}
                                {% for liker in member.user.profile.likers.all %}
                                    {{ liker.user.username }}
                                {% endfor %}
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}