{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/58cae1d5f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
</head>
<body>
    
    <div class="content">
        <div class="mypage_mypage_icon">마이 페이지</div>

        <div class="container">
            <div class="container_background">
                <div class="container_1">
                    <div class="mypage_profile"> 
                        {% if user.profile.userImage %}
                            <div class="mypage_myprofile_image"><img src="{{ user.profile.userImage.url }}" alt="프로필 사진"></div>
                        {% else %}
                            <div class="mypage_myprofile_image"><img src="{% static 'images/기본이미지.png' %}" alt="프로필 사진"></div>
                        {% endif %}
                        <div class="mypage_position"><strong>{{ user.profile.department }} {{ user.profile.grade }}학년</strong></div>
                        <div class="mypage_test_name"><strong>"{{ result.result_text }}" {{ user.profile.name }}</strong></div>
                        <div class="mypage_nickname"><strong>{{ user.profile.nickname }}</strong></div>
                        <div class="tag_container"> <!--개인 태그-->
                            {% for mytag in mytaglist %}
                                <a href="#">{{ mytag.mytagname }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    

                    <div class="mypage_container1_list">
                        <div class="mypage_container1_list_word">
                            팀플 모집 내역
                        </div>
                    </div>
                </div>
                <div class="container_2">
                    <div class="container_2_blank">
                        {% for volunteer in volunteers %}
                            <div class="container2_halfbox1">
                                <div class="container2_halfbox_top1">{{ volunteer.post.title }}</div>
                                <div class="container2_halfbox_bottom1">
                                    {% for volunteer_obj in volunteer.volunteers %}
                                        <a class="btn" href="{% url 'users:profile'  volunteer_obj.user.profile.id %}">{{ volunteer_obj.user.profile.nickname }}</a>
                                        {% if volunteer_obj.info == 'pending' %}
                                            <a class="btn" href="{% url 'users:approve_member' volunteer_obj.id %}">팀원 승인</a>
                                            <a class="btn" href="{% url 'users:reject_member' volunteer_obj.id %}">팀원 거부</a>
                                        {% else %}
                                            선택 완료
                                        {% endif %}
                                    {% empty %}
                                        <p>아직 지원자가 없어요 ㅠ</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mypage_container2_list">
                        <div class="mypage_container2_list_word">
                            팀플 지원 내역
                        </div>
                    </div>
                </div>
                <div class="container_3">
                    <div class="container_3_blank">
                        {% for apply in apply %}
                        <div class="container3_halfbox1">
                                <div class="container3_halfbox_top1">{{ apply.post.title }}</div>
                                <div class="container3_halfbox_bottom1">
                                    <strong>팀플 생성자</strong>
                                    {{ apply.post.writer.profile.nickname }}
                                    <strong>지원 결과</strong>
                                    {% if apply.info == 'accepted'%}
                                        {{ apply.post.url }}
                                    {% else %}
                                        {{ apply.get_info_display }}
                                    {% endif %}
                                </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="mypage_container3_list">
                        <div class="mypage_container3_list_word">
                            끼리평가 결과
                        </div>
                    </div>
                </div>
                <div class="container_4">
                        <div class="container4_halfbox1">
                            <div class="container4_halfbox_top1">어드벤쳐디자인 (2023년 1학기 진행)</div>
                            <div class="container4_halfbox_bottom1"></div>
                        </div>
                </div>
            </div>    
        </div>
    </div>
</body>
</html>

{% endblock %}