{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/58cae1d5f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
</head>
<body>
    
    <div class="content">
        <div class="mypage_mypage_icon">마이 페이지</div>

        <div class="container">
            <div class="container_background">
                <div class="fix">
                    <div class="mypage_myimage">
                        {% if user.profile.userImage %}
                            <div class="mypage_myprofile_image"><img src="{{ user.profile.userImage.url }}" alt="프로필 사진" width="100%" height="100%"></div>
                        {% else %}
                            <div class="mypage_myprofile_image"><img src="{% static 'images/기본이미지.png' %}" alt="프로필 사진" width="100%" height="100%"></div>
                        {% endif %}
                    </div>
                    <div class="mypage_mynickname">
                        <div class="mypage_mynickname_word">{{ user.profile.nickname }}</div>
                    </div>
                    <div class="mypage_myposition">
                        <div class="mypage_myposition_word">
                            {{ user.profile.department }} {{ user.profile.grade }}학년
                        </div>
                    </div>
                    <div class="mypage_mytest">
                        <div class="mypage_mytest_word">
                            "{{ result.result_text }}" {{ user.profile.name }}
                        </div>
                    </div>
                    <div class="mypage_hashtag_box">
                        {% for mytag in mytaglist %}
                            <div class="mypage_hashtag1">
                                <a href="#">{{ mytag.mytagname }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mypage_like_dislike">
                        <div class="mypage_like">
                            <i class="fas fa-solid fa-thumbs-up"></i>
                            <div class="mypage_like_num">{{ user.profile.likers.count }}</div>
                        </div>
                        <div class="mypage_dislike">
                            <i class="fas fa-solid fa-thumbs-down"></i>
                            <div class="mypage_dislike_num">{{ user.profile.haters.count }}</div>

                        </div>
                    </div>

                </div>
                    
                <div class="apply">
                    팀플 모집 내역
                </div>
                {% for volunteer in volunteers %}
                <div class="slide1_content1">
                    <div class="slide1_content1_top">{{ volunteer.post.title }}</div>
                    <div class="slide1_content1_bottom">
                        <div class="slide1_content1_bottom_firstline">
                            <div class="slide1_content1_firstline_left">지원자</div>
                            <div class="slide1_content1_firstline_right">승인 여부</div>
                        </div>
                        {% for volunteer_obj in volunteer.volunteers %}
                        <div class="slide1_content1_bottom_secondline">
                            <div class="slide1_content1_secondline_left">
                                <div class="slide1_content1_tag_profile_and_nickname">
                                    <div class="slide1_content1_tag_profile">
                                        {% if user.profile.userImage %}
                                            <img src="{{ post.writer.profile.userImage.url }}" width="100%" height="100%" />
                                        {% else %}
                                            <img src="{% static 'images/기본이미지.png' %}"width="100%" height="100%" />
                                        {% endif %}
                                    </div>
                                    <div class="slide1_content1_tag_nickname"><a class="btn" href="{% url 'users:profile'  volunteer_obj.user.id %}">{{ volunteer_obj.user.profile.nickname }}</a></div>
                                </div>
                            </div>
                            <div class="slide1_content1_secondline_right">
                                {% if volunteer_obj.info == 'pending' %}
                                    <button class="slide1_content1_secondline_approve"><a class="btn" href="{% url 'users:approve_member' volunteer_obj.id %}">팀원 승인</a></button>
                                    <button class="slide1_content1_secondline_disapprove"><a class="btn" href="{% url 'users:reject_member' volunteer_obj.id %}">팀원 거부</a></button>
                                {% else %}
                                    선택 완료
                                {% endif %}
                            </div>
                        </div>
                        {% empty %}
                            <p>아직 지원자가 없어요 ㅠ</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <div class="team_apply_list">
                    팀원 지원 내역
                </div>
                {% for apply in apply %}           
                <div class="slide2_content1">     
                    <div class="slide2_content1_top1">{{ apply.post.title }}</div>
                    <div class="slide2_content1_bottom1">
                        <div class="slide2_content1_bottom_firstline">
                            <div class="slide2_content1_firstline_left">팀플 생성자</div>
                            <div class="slide2_content1_firstline_right">지원결과</div>
                        </div>
                        <div class="slide2_content1_bottom_secondline">
                            <div class="slide2_content1_secondline_left">
                                <div class="slide2_content1_tag_profile_and_nickname">
                                    <div class="slide2_content1_tag_profile">
                                        {% if user.profile.userImage %}
                                            <img src="{{ post.writer.profile.userImage.url }}" width="100%" height="100%" />
                                        {% else %}
                                            <img src="{% static 'images/기본이미지.png' %}"width="100%" height="100%" />
                                        {% endif %}
                                    </div>
                                    <div class="slide2_content1_tag_nickname">{{ apply.post.writer.profile.nickname }}</div>
                                </div>
                            </div>
                            <div class="slide2_content1_secondline_right">
                                {% if apply.info == 'accepted'%}
                                    <button class="result">{{ apply.post.url }}</button>
                                {% else %}
                                    <button class="result">{{ apply.get_info_display }}</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</body>
</html>

{% endblock %}