{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>마이 페이지</h1>

    <h3>{{ user.profile.nickname }}</h3>
    <h3>{{ user.profile.department }} {{ user.profile.grade }} 학년</h3>
    <h3>"{{ result.result_text }}" {{ user.profile.name }}</h3>

    <h3>팀플 모집 내역</h3>
    {% for volunteer in volunteers %}
        {{ volunteer.post.title }}
        {% for volunteer_obj in volunteer.volunteers %}
            <p>{{ volunteer_obj.user.profile.nickname }}</p>
        {% empty %}
            <p>지원자 없음</p>
        {% endfor %}
        <hr>
    {% endfor %}

    <h3>팀플 지원 내역</h3>

    <h3>끼리평가 결과</h3>
{% endblock %}