<!--내 프로필-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/58cae1d5f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
</head>
<body>
    <!-- <div class="back_button">
        <div class="back_button"><a href="{% url 'main:mainpage' %}"><i class=" fas fa-solid fa-circle-chevron-left fa-3x " style="color: #35ccaa;"></i></a></div>
    </div> -->
    <div class="content">

        <div class="profile_profile">프로필 페이지</div>
        <div class="container">
            <div class="container_background">
                <div class="profile_top">
                    <div class="profile_image">
                        {% if user.profile.userImage %}
                            <img src="{{ user.profile.userImage.url }}" id="ggiri_logo"class=logo width="80%" height="100%" />
                        {% else %}
                            <img src="{% static 'images/기본이미지.png' %}" id="ggiri_logo"class=logo width="80%" height="100%" />
                        {% endif %}
                    </div>
                    <div class="profile_nickname"><strong>{{user.profile.nickname}}</strong></div>
                    <div class="profile_status"><strong>{{user.profile.department}} {{user.profile.grade}}학년</strong></div>
                    <div class="profile_test"><strong>"{{result.result_text}}" {{user.profile.name}}</strong></div>
                    <div class="profile_hashtag_box">
                        {% for tag in user.profile.taglist.all %}
                            <div class="profile_hashtag1">#{{tag.mytagname}}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="profile_middle">끼리 평가 결과</div>
                <div class="profile_like_dislike">
                    <div class="profile_like_box">
                        <div class="profile_like_icon"><i class="fas fa-solid fa-heart" ></i></div>
                        {{ user.profile.likers.count }}
                    </div>
                    <div class="profile_dislike_box">
                        <div class="profile_dislike_icon"><i class="fas fa-solid fa-heart-crack"></i></div>
                        {{ user.profile.haters.count }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}