{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{post.title}}</h1>
<h2>작성자 : {{post.writer}}</h2>
<h2>날짜 : {{post.pub_date}}</h2>
<hr>
{% if post.image %}
    <p><img src="{{post.image.url}}" alt="사진"  height="400"></p>
{% endif %}
<h3><p>{{post.body}}</p></h3>
{% if post.writer == user %}
<a href = "{% url 'main:edit' post.id %}">수정하기</a>
<a href = "{% url 'main:delete' post.id %}">삭제하기</a>
{% endif %}
<hr>
<div class="comment_container">
    <div>[댓글 입력]</div>
    <div class="comment_form">
        <form method="POST" action="{% url 'main:detail' post.id %}">
            {% csrf_token %}
            <input type="text" name="content">
            <input type="submit" name="submit">
        </form>
    </div>
    <div class="comment_list">
        {% for c in comments %}
        <hr>
        <h4>작성자 : {{c.writer}}</h4>
        <p>내용 : {{c.content}}</p>
        <p>{{c.pub_date}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}