{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <script src="https://kit.fontawesome.com/58cae1d5f8.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="back_button"><a href="{% url 'main:mainpage' %}"><i class=" fas fa-solid fa-circle-chevron-left fa-3x " style="color: #35ccaa;"></i></a></div>
    <form action="{% url 'main:update' post.id %}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="content">
        <div class="detail_container">
            <div class="detail_container_background">
                <div class="detail_title">
                    &ensp;<strong>팀플제목</strong>
                    <div><input type="text" name="title" value={{post.title}}></div>
                </div>
                <div class="detail_empty">
                    <div class="detail_profile_and_icon">
                        
                        <div class="tag_profile">
                            <a href="{{ post.writer.profile.url }}">
                            {% if user.profile.userImage %}
                                <img src="{{ post.writer.profile.userImage.url }}" id="tag_ggiri_logo" width="100%" height="100%" />
                            {% else %}
                                <img src="{% static 'images/동국대기본.jpg' %}" id="tag_ggiri_logo" width="100%" height="100%" />
                            {% endif %}
                            </a>
                        </div>
                        <div class="tag_nickname">{{post.writer.profile.nickname}}</div>
                        
                    </div>
                    {% if post.writer == user %}
                    <div class="detail_checkapprove">
                            <a class="link1" href="{% url 'main:edit' post.id %}">수정하기</a>
                    </div>
                    {% endif %}
                    <div class="detail_checkapprove">
                        {% if post.writer != user %}
                            {% if volunteer %}
                                <a class="link1" href="{% url 'users:mypage' user.id %}">승인 여부 확인하기</a>
                            {% else %}
                                <a class="link1" href="{% url 'main:volunteer' post.id %}">지원하기</a>
                            {% endif %}
                        {% else %}
                                <a class="link1" href ="{% url 'main:delete' post.id %}">삭제하기</a>
                        {% endif %}
                    </div>                                    
                </div>
                <div class="detail_teamplay_info" style="overflow: auto; height: 250px;">
                    &ensp;<strong>팀플정보</strong>
                    <div class="tag_container">
                        <textarea name="body" id="" cols="30" rows="10">{{post.body}}</textarea>
                    </div>
                </div>
                <div class="detail_topic_info" style="overflow: auto; height: 250px;">
                    &ensp;<strong>주제설명</strong>
                    <div><textarea name="describe" id="" cols="30" rows="10">{{post.describe}}</textarea></div>
                </div>
                <div class="detail_teamone_preference" style="overflow: auto; height: 250px;">
                    &ensp;<strong>원하는 팀원 성향</strong>
                    <div><textarea name="describe" id="" cols="30" rows="10">{{post.propensity}}</textarea></div>
                </div>
                <button type="submit">제출</button>     
            </div>
        </div>
    </form>
    </div>
</body>
</html>

<!--
<div class = "container">
    <h1>글 수정하기</h1>
    <form action="{% url 'main:update' post.id %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <p>팀플제목 : <input type="text" name="title" value={{post.title}}></p>
        {% if post.image %}
            <p>사진 : <input type="file" name="image" value="{{post.image}}"></p>
        {% else %}
            <p>사진 : <input type="file" name="image"></p>
        {% endif %}
        <p>팀플기본적정보 : <textarea name="body" id="" cols="30" rows="10">{{post.body}}</textarea></p>
        <p>주제설명 : <textarea name="describe" id="" cols="30" rows="10">{{post.describe}}</textarea></p>
        <button type="submit">제출</button>
    </form>
</div>
{% endblock %}-->