{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>최종디자인10</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/mainpage.css' %}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
      <div class="apply">
          <h1>팀플 지원</h1> `
        </div>
        <form class="search-form" action="{% url 'main:search' %}" method="get">
        <div class="icon-search">
            <form class="search-form" action="{% url 'main:search' %}" method="get">
                <input class="search-input" name="query" type="text" placeholder="검색 (학수번호, 교수명, 교과명)" required>  
                <!--<h1>학수번호</h1>-->
                <!--<a class="link1" href="#"><i class="fas fa-chevron-down"></i></a>      -->
                <h1><button class="cp-button search-button" type="submit">검색</button></h1>
            </form>
        </div>
        </form>
        <div class="tag">
            {% for mytag in mytaglist %}
                <h1>#{{ mytag.mytagname }}</h1>
            {% endfor %}        
        </div>
        {% for post in posts %}
            <div class="information">
            <h2></h2><!--색상 박스 -->
            <h3>{{post.title}}</h3> <!--흰 박스 + 문구 -->
            <a class="link1" href="{% url 'main:detail' post.id %}">상세보기</a> <!--문구 + 초록 박스 -->
          </div>
        {% endfor %}
      </div>
    <!--
    <h1>반갑습니다 심바톤 끼리팀 여러분</h1>
    <img src = "{% static 'images/멋사.png' %}" style="width:500px;">
    <div>기획/디자인 : 최준형</div>
    <div>프론트엔드 : 김윤서</div>
    <div>프론트엔드 : 김동환</div>
    <div class="mainpage">백엔드 : 박호연</div>
    <div>백엔드 : 배지현</div>-->

    <!--<div class="header-search">
        <h3><div class="mainpage">▼▼▼원하는 게시물 검색어를 입력하시오▼▼▼</div></h3>
        <form class="search-form" action="{% url 'main:search' %}" method="get">
            <input class="search-input" name="query" type="text" placeholder="게시물을 검색해보세요" required>
            <button class="cp-button search-button" type="submit">검색</button>
        </form>
    </div>

    <div>
        <h3>학수번호 데이터</h3>
        <h4><a href="{% url 'excelDB:excel' %}">엑셀</a></h4>
    </div>

    <h3>▼글 작성하기▼</h4>
    {% if user.is_authenticated %}-->
    <!--<h4><a href="{% url 'main:new' %}">글 쓰기</a></h1>
    {% endif %}-->

    <!--<h4>[글 목록]</h4>
    {% for post in posts %}
    <h4>{{post}}</h4>
    {% endfor %}

    <h4>[글 세부 목록]</h4>
    <div>
        {% for post in posts %}
        <div>
            <div>제목: {{post.title}}</h2>
            <div>작성자: {{post.writer}}</h2>
            <div>내용(간략): {{post.summary}}
                <a href="{% url 'main:detail' post.id %}">...더보기(detail.html)</a>
            </div>
        </div>
        {% endfor %}
    </div>-->
<!--
    <h2>[아래 링크들은 html작업을 위한 링크 모음입니다]</h2>
    <h4><a href="{% url 'excelDB:excel' %}">학수번호 데이터 엑셀</a></h4>
    <h4><a href="{% url 'accounts:login' %}">로그인(login.html)</a></h4>
    <h4><a href="{% url 'accounts:logout' %}">로그아웃(logout.html)</a></h4>-->
    <!--
    <h4><a href="{% url 'accounts:signup' %}">회원가입(signup.html)</a></h4>
    <h4><a href="{% url 'main:firstpage' %}">입장페이지(firstpage.html)</a></h4>
    {% if user.is_authenticated %}
        <h4><a href="{% url 'main:maketeam1' %}">팀플생성1(maketeam1.html)</a></h4>
        <h4><a href="{% url 'main:maketeam2' %}">팀플생성2(maketeam2.html)</a></h4>
        {% if 'scores' not in request.session or 'question_id' not in request.session %}
            <h4><a href="{% url 'main:teamtest1' %}">팀성향테스트1(teamtest1.html -> result.html)</a></h4>
        {% endif %}
    {% endif %}
    <div>
        {% for post in posts %}
        <div>
            <h4><a href="{% url 'main:detail' post.id %}">상세페이지{{post.id}}(detail.html)</a></h4>
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <h4><a href="{% url 'users:mypage' user.id %}">마이페이지(mypage.html)</a></h4>
        <h4><a href="{% url 'users:profile' user.id %}">프로필페이지(profile.html)</a></h4>
        <h4><a href="{% url 'users:measure' user.id %}">끼리평가페이지(measure.html)</a></h4>
    {% endif %} 
    -->
{% endblock %}