{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>반갑습니다 심바톤 끼리팀 여러분</h1>
    <img src = "{% static 'images/멋사.png' %}" style="width:500px;">
    <div>기획/디자인 : 최준형</div>
    <div>프론트엔드 : 김윤서</div>
    <div>프론트엔드 : 김동환</div>
    <div class="mainpage">백엔드 : 박호연</div>
    <div>백엔드 : 배지현</div>

    <div class="header-search"><!--검색창-->
        <h3><div class="mainpage">▼▼▼원하는 게시물 검색어를 입력하시오▼▼▼</div></h3>
        <form class="search-form" action="{% url 'main:search' %}" method="get">
            <input class="search-input" name="query" type="text" placeholder="게시물을 검색해보세요" required>
            <button class="cp-button search-button" type="submit">검색</button>
        </form>
    </div>

    <div>
        <h3>학수번호 데이터</h3>
        <h4><a href="{% url 'excelDB:excel' %}">엑셀</a></h4>
    </div>

    <h3>▼글 작성하기▼</h4>
    {% if user.is_authenticated %}
    <h4><a href="{% url 'main:new' %}">글 쓰기</a></h1>
    {% endif %}

    <h4>[글 목록]</h4>
    {% for post in posts %}
    <h4>{{post}}</h4>
    {% endfor %}

    <h4>[글 세부 목록]</h4>
    <div>
        {% for post in posts %}
        <div>
            <div>제목: {{post.title}}</h2>
            <div>작성자: {{post.writer}}</h2>
            <div>내용(간략): {{post.summary}}
                <a href="{% url 'main:detail' post.id %}">...더보기</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}