<!--팀플 생성 페이지 상세-->
<!--팀플 제목, 팀플정보, 주제설명, 원하는 팀원성향-->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/58cae1d5f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/maketeam2.css' %}">
</head>
<body>
    <form action="{% url 'main:create' %}" method="POST" enctype="multipart/form-data"> <!--enctype: 폼데이터가 인코딩 되는 방식 설정-->
        {% csrf_token %}
        <div class="back_button">
            <a href="{% url 'main:mainpage' %}">
                <i class=" fas fa-solid fa-circle-chevron-left fa-3x " style="color: #35ccaa;"></i>
            </a>
        </div>
        <div class="content">
            
            <div class="maketeam2_create">팀플 생성</div>
            <div class="maketeam2_container">
                <div class="maketeam2_container_background">
                    <div class="maketeam2_title">&ensp;<strong>팀플제목<input type="text" name="title" ></strong></div>
                    <div class="maketeam2_teamplay_info">&ensp;<strong>팀플 기본적 정보</strong><br><strong><textarea type="text" name="body" id="" cols="30" rows="10" placeholder="(교수명,교과명,학수번호)"></textarea></strong></div>
                    <div class="maketeam2_topic_info">&ensp;<strong>주제설명<textarea type="text" name="describe" id="" cols="30" rows="10" ></textarea></strong></div>
                    <div class="maketeam2_team_preference">&ensp;<strong>원하는 팀플 성향<textarea type="text" name="propensity" id="" cols="30" rows="10" ></textarea></strong></div>
                    <div class="maketeam2_kakaourl">&ensp;<strong>카카오톡 오픈채팅방 URL<textarea type="text" name="url" id="" cols="30" rows="10" ></textarea></strong></div>
                    <div class="maketeam2_createbuttonbox"><button type="submit" class="maketeam2_createbutton">생성하기</a></div>
                </div>    
            </div>
        </div>
    </form>
</body>
</html>
<!--
<h1>팀플 생성 2</h1>
<h2><a href = "{% url 'main:mainpage' %}">메인페이지로 돌아가기</a></h2>

<form action="{% url 'main:create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>팀플제목 : <input type="text" name="title"></p>
    <p>사진 : <input type="file" name="image"></p>
    <p>팀플기본적정보 : <textarea type="text" name="body" id="" cols="30" rows="10"></textarea></p>
    <p>주제설명 : <textarea type="text" name="describe" id="" cols="30" rows="10"></textarea></p>
    <button type="submit">제출</button>
</form>
-->
{% endblock %}